<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Hello BankWeb!</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
  </head>

  <body>
    <nav class="navbar navbar-default">
      <div class="container">
        <div class="navbar-header">
          <%= link "BankWeb", to: page_path(@conn, :index), class: "navbar-brand" %>
        </div>

        <%= if @current_customer do %>

          <ul class="nav navbar-nav">
            <%= nav_link @conn, "Account", to: account_path(@conn, :show) %>
          </ul>

          <ul class="nav navbar-nav pull-right">
            <li><%= link "Signed in as #{@current_customer.username}", to: account_path(@conn, :show) %></li>
            <li><%= link "Sign out", to: session_path(@conn, :sign_out) %></li>
          </ul>

        <% end %>
      </div>
    </nav>

    <div class="container">
      <% if flash = get_flash(@conn, :info) do %>
        <p class="alert alert-info" role="alert"><%= flash %></p>
      <% end %>

      <% if flash = get_flash(@conn, :error) do %>
        <p class="alert alert-danger" role="alert"><%= flash %></p>
      <% end %>

      <main role="main">
        <%= render @view_module, @view_template, assigns %>
      </main>

    </div> <!-- /container -->
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
